body {
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
}

h1, h2, h3, h4, p {
    color: white;
    text-align: center;
}


/* Welcome section */



.welcome h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.welcome p {
    text-decoration: underline;
    color: aquamarine;
    font-weight: 500;
 
}

/* Info section */

.info h1 {
    font-size: 42px;
    font-weight: 300;
}

.info p {
    font-size: 21px;
    color: gray;
}

/* Ending seciton */

.ending img {
    padding-top: 28px;
    padding-bottom: 5px;
}

.ending h1 {
    font-size: 42px;
    font-weight: 300;
}

.ending p {
    text-decoration: underline;
    color: aquamarine;
    font-weight: 500;
}

/* footer seciton */

footer p {
    float: right;
    color: gray;
    font-size: 21px;
}